<ion-header>
  <ion-toolbar>
    <ion-title>content</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-item>
    <ion-textarea rows="5" cols="20" formControlName="content" placeholder="Enter any notes here...">Contenu du
      cours :</ion-textarea>
  </ion-item>
</ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="closeModal()" expand="block" color="danger" fill="clear" shape="round">
      <ion-icon slot="start" name="close"></ion-icon>
      Fermer
    </ion-button>
  </ion-toolbar>
</ion-footer>