<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="top_menu">
        <div class="top_menu_text text-center">
          <h1>
            <strong class="couleur" align="center">AWARE-T</strong>
          </h1>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>

  <img alt="logo" id="header_logo" height="60" align="left" src="assets/ictUniv.png">
  <img alt="logo" id="header_logo" height="60" align="right" src="assets/ict4d.png">
  
  <h6>UNIVERSITE DE YAOUNDE 1 / ICT4D</h6>
</ion-card>
 
<ion-card>

  <p>Bienvenue sur AWARE-T</p>
  <p>Si vous voulez remplir le formulaire d'EMARGEMENT cliquez sur l'onglet 3 a droite</p>
  <p>Si vous voulez voir la Liste des Etudiants cliquez sur l'onglet 1 a gauche </p>
  <p>Si vous voulez voir autre chose cliquez sur le menu, en haut a gauche </p>
  
  <!-- <p></p> -->
</ion-card>
  <div class="grid-full">
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../../assets/livre.jpg" routerLink="/syllabus" />
          <p>Le Syllabus</p>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <img src="../../assets/prof.png" routerLink="/listerprof"/>
          <p>Les Enseignants</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>


</ion-content>
