<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="top_menu">
        <div class="top_menu_text text-center">Emargement</div>
        <div class="top_menu_icon">
          <ion-icon name="person-add-outline" (click)="presentPopover($event)"></ion-icon>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="form ion-text-center">
    <form [formGroup]="formPresence" (ngSubmit)='enregistrer()' (ngSubmit)="submitForm()">
      <ion-list>
        
        <ion-card>
          <ion-item>
            <ion-label>SEMESTRE : </ion-label>
            <ion-select formControlName="name" interface="popover" placeholder="Select semestre"
              *ngIf='hasLoadedSemesters'>
              <ion-select-option value={{semester?.id}} *ngFor="let semester of semesters ">{{semester?.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card>

        <ion-card>
          <ion-item>
            <ion-label>NIVEAU : </ion-label>
            <ion-select formControlName="level_id" interface="popover" placeholder="Select One" *ngIf='hasLoadedLevels'>
              <ion-select-option *ngFor="let level of levels" value={{level?.id}}>{{level?.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card>

        <ion-card>
          <ion-item>
            <ion-label>Nom du prof :</ion-label>
            <ion-select formControlName="professor_id" interface="popover" placeholder="Select name"
              *ngIf='enseignants.length > 0'>
              <ion-select-option value={{enseignant?.id}} *ngFor="let enseignant of enseignants">{{enseignant?.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card>

        <ion-card>
          <ion-item>
            <ion-label>DELEGUE :</ion-label>
            <ion-select formControlName="delegate_id" interface="popover" *ngIf='users.length > 0'>
              <ion-select-option value={{user?.id}} *ngFor="let user of users">{{user?.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card>

        <ion-card>
          <ion-item>
            <ion-label> EU : </ion-label>
            <ion-select formControlName="course_id" interface="popover" placeholder="Select UE" *ngIf='hasLoadedCours'>
              <ion-select-option value={{cour?.id}} *ngFor="let cour of possiblesCours">{{cour?.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card>

        <ion-card>
          <ion-item>
            <ion-label>SALLE : </ion-label>
            <ion-select interface="popover" placeholder="Select salle" formControlName="hall">
              <ion-select-option value="S100">S100</ion-select-option>
              <ion-select-option value="S101">S101</ion-select-option>
              <ion-select-option value="S102">S102</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card>

        <ion-card>
          <ion-item>
            <ion-label>SEANCE : </ion-label>
            <ion-select interface="popover" placeholder="Select seance" formControlName="session">
              <ion-select-option value="CM">CM</ion-select-option>
              <ion-select-option value="TP">TP</ion-select-option>
              <ion-select-option value="SN">SN</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card>

        <ion-card>
          <ion-item>
            <ion-label>TOTAL HORAIRE : </ion-label>
            <ion-select interface="popover" placeholder="Select Time" formControlName="duration">
              <ion-select-option value="1">2</ion-select-option>
              <ion-select-option value="2">3</ion-select-option>
              <ion-select-option value="3">4</ion-select-option>
              <ion-select-option value="4">5</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card>

        <ion-card>
          <ion-item>
            <ion-label>DATE: </ion-label>
            <ion-input formControlName="date" id="date" type='date' class="ion-text-end"></ion-input>
            <!-- <ion-popover trigger="date" size="cover">
              <ng-template>
                <ion-datetime presentation="date" formControlName="date" locale="sl-SI"></ion-datetime>
              </ng-template>
            </ion-popover> -->
          </ion-item>
        </ion-card>

        <ion-card>
          <ion-item>
            <ion-label>Etudiant : </ion-label>
            <ion-select formControlName="students" multiple="true" placeholder="Select Student" cancelText="Fermer"
              okText="Ok" *ngIf='hasLoadedStudents'>
              <ion-select-option *ngFor="let student of possiblesStudents" value={{student?.students}}>{{student?.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card>

        <ion-card>
          <ion-item>
            <ion-textarea rows="5" cols="20" formControlName="content" placeholder="Enter any notes here...">Contenu du
              cours :</ion-textarea>
          </ion-item>
        </ion-card>

        <ion-card>
          <img [src]='image' *ngIf='image' />
        </ion-card>

        <p (click)="openModal()">cliquez pour la SIGNATURE </p>

        <!-- <ion-button type='submit' expand="block" shape="round">enregistrer</ion-button> -->
        <!-- <ion-card>

        </ion-card> -->
        <ion-button type="submit" (click)="customizeLoader()" expand="block" shape="round">ENVOYER</ion-button>
      </ion-list>
    </form>
  </div>
</ion-content>