<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter un Enseignant</ion-title>   
    <ion-buttons slot="start" (click)="closeModal()" >
      <ion-back-button defaultHref="tab3"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
   <div class="form ion-text-center">

    <ion-list>
      
      <ion-item lines="none">
        <ion-input type="text" placeholder="Entrez Votre nom" [(ngModel)]="data.name" ></ion-input>
      </ion-item>
      
      <ion-item lines="none">
        <ion-input type="email" placeholder="exemple@gmail.com" [(ngModel)]="data.email"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input type="number" placeholder="ENtrer votre numero de phone" [(ngModel)]="data.phone"></ion-input>
      </ion-item>
      

      <ion-button expand="block" shape="round" (click)="enregistrer()">Enregistrer</ion-button>
      <ion-button expand="block" shape="round" (click)="voirprof()">Lister les Profs</ion-button>

    </ion-list>
  </div>
</ion-content>

