ion-button{
    color: red;
}

ion-icon{
    color: red;
}

canvas {
  display: block;
  border: 1px solid var(--ion-color-primary-tint);
  // background-color: var(--ion-color-);
  height: 305px;
  width: 220px;
}
