ion-menu-button {
  color: var(--ion-color-primary);
}
ion-button{
       --background: linear-gradient(90deg, var(--ion-color-success-shade) 0%, var(--ion-color-success-shade) 100%);

}
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-card{
  //   bottom: 3px;
  // border-color: green;
  // position: relative;
  // border-radius: 16px;
  // width: 92%;
  // margin: 0 auto;
    border: 1px solid var(--ion-color-primary-tint);
}

ion-title{
  color: white;
}

ion-menu-button{
  color: white;
}